{{define "index"}}
<!doctype html>
<html lang="en">
  {{template "head" .}}
  <body>
    <h1>hello</h1>
	<section id="fragments-list">
	  <ul>
        <li v-for="fragment in fragments">
		  <a v-bind:href="'/fragments/' + fragment.name"><h3>(( fragment.name ))</h3></a>
          <p>(( fragment.contents ))</p>
		  <button @click="deleteFragment(fragment.name)">DELETE</button>
        </li>
      </ul>
	</section>

	<section id="editor">
	  <input v-model.trim="name" type="text" placeholder="name" />
      <textarea v-model="contents" placeholder="edit me"></textarea>
      <button @click="post">post</button>
    </section>
    
    <script src="/static/js/app.js"></script>
  </body>
</html>
{{end}}
